
html {
  font-size: 1rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}
html body{
  font-family: 'exo 2';
  box-sizing: border-box;
  background-color: #f3f3f3;
}

*, *:before, *:after {
  box-sizing: inherit;
}

nav{
  background-color: #2b6095;
}
.logo{
	width: 50%;
}

section{
	background-color: #f3f3f3;
}

section .container{
	padding-top: 50px;
	padding-bottom: 50px;
}

section h5{
	color: black;
}

.foot{
  background-color: #2b6095;
}

.jumbotron{
  background-color: #2b6095;
}

footer h6{
  text-align: right;
  color: white;
}
footer td{
  color: white;
}

footer a{
 color: white; 
}

.risa{
  height: ;
}

iframe{
  margin-top: 200px;
}
/*CSS nosotros*/

.somos{
  height: auto;
}

.bg{
  background-color: #f8b502;
}

.color{
  color: black;
}

.texto-tabla{
 
}